<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <!-- Enable global asynchronous logging -->
    <Properties>
        <Property name="log.pattern">%msg%n</Property>
        <Property name="filename">logs/application.log</Property>
    </Properties>

    <Appenders>

        <!-- Console Logger -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${log.pattern}" />
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="FileAppender"
                     fileName="${filename}"
                     filePattern="logs/application-%d{yyyy-MM-dd}-%i.log.gz">

            <PatternLayout pattern="${log.pattern}" />

            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>

    <Loggers>

        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Root>

    </Loggers>

</Configuration>
